{% extends 'base.html' %}

{% block sitetitle %}
	{% if form.instance == edit_entry %}
		Hinzufügen
	{% else %}
		Ändern
	{% endif %}
{% endblock %}

{% block header %}
	<a href="overview"><h1>TO-DO</h1></a>
	<nav>
		<ul>
			<li><a href="/todolist/overview" id="overview_link">Overview</a></li>
			<li><a href="/todolist/logout" id="logout_link">Logout</a>
		</ul>
	</nav>
{% endblock %}

{% if form.errors %}
    <p style="color: red;">
        Bitte beheben Sie den Fehler: {{ form.errors|pluralize }}
    </p>
{% endif %}

{% block content %}
	<section>
	{% if form.instance == edit_entry %}
		<h2>ÄNDERN</h2>
		<form action = "{% url 'edit' edit_entry.entry_id %}" method ="post">
			{{ form.as_ul }}
		    {% csrf_token %}
		    <nav>
				<ul>
					<li><input type = "submit" value = "Senden"/></li>
					<li><a href="{% url 'delete' edit_entry.entry_id %}" id="delete_link">Löschen</a></li>
					<li><a href="{% url 'overview' %}" id="abort_link" >Abbrechen</a></li>
				</ul>
			</nav>
		</form>
		Zeitpunkt der erstellung: {{ edit_entry.creation_datetime|date:'d.F Y H:i' }}
	{% else %}
		<h2>HINZUFÜGEN</h2>
		<form action = "{% url 'add' %}" method ="post">
			{{ form.as_ul }}
		    {% csrf_token %}
		<nav>
			<ul>
				<li><input type = "submit" value = "Senden"/></li>
				<li><a href="{% url 'overview' %}" id="abort_link" >Abbrechen</a></li>
			</ul>
		</nav>
		</form>
	{% endif %}
	</section>
{% endblock %}