{% extends 'base.html' %}

{% block sitetitle %}Login{% endblock  %}

{% block header %}
        <a href="login"><h1>TO-DO</h1></a>
{% endblock %}

{% block content %}

{% if form.errors %}
	<p>Username und Passwortkombination stimmt nicht überein!</p>
{% endif %}
	<h2>Userlogin</h2>
	
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{{ form.as_ul }}
		{% csrf_token %}
		<input type="submit" value="Einloggen" />
		<input type="hidden" name="next" value="overview" />
	</form>
{% endblock %}