{% extends 'base.html' %}

{% block sitetitle %}Übersicht{% endblock  %}

{% block content %}
	<section>
		<h2>OFFEN</h2>
		{% for entry in open_list %}
			<article>
				<h3>{{ entry.title }}</h3>
				{{ entry.due_date }},{{ entry.due_time }}
				<br>
				Priorität: {{ entry.priority }}
				<br>
				{% if entry.description %}
					Beschreibung:{{ entry.description }}
				{% else %}
					Keine Beschreibung
				{% endif %}
				<nav>
					<ul>
						<li><a href="{% url 'edit' entry.entry_id %}" id="edit_link">edit</a></li>
						<li><a href="{% url 'switch' entry.entry_id %}" id="switch_link">switch</a></li>
					</ul>
				</nav>
			</article>
		{% endfor %}
		</ul>
	</section>
	<section>
		<h2>ERLEDIGT</h2>
		{% for entry in done_list %}
			<article>
				<h3>{{ entry.title }}</h3>
				{{ entry.due_date }},{{ entry.due_time }}
				<br>
				Priorität: {{ entry.priority }}
				<br>
				{% if entry.description %}
					Beschreibung:{{ entry.description }}
				{% else %}
					Keine Beschreibung
				{% endif %}
				<nav>
					<ul>
						<li><a href="{% url 'edit' entry.entry_id %}" id="edit_link">edit</a></li>
						<li><a href="{% url 'switch' entry.entry_id %}" id="switch_link">switch</a></li>
					</ul>
				</nav>
			</article>
		{% endfor %}
	</section>
{% endblock %}